body { font-size: 20px; color: #1e1e1e; font-family: 'Lora', 'Times New Roman', serif; }

p { line-height: 1.5; margin: 30px 0; }

p a { text-decoration: underline; }

h1, h2, h3, h4, h5, h6 { font-weight: 800; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

a { color: #1e1e1e; -webkit-transition: all 0.2s; -moz-transition: all 0.2s; transition: all 0.2s; }

a:focus, a:hover { color: #007bff; }

a { color: #fff; }

a:focus, a:hover { color: #3399ff; }

blockquote { font-style: italic; color: #1e1e1e; }

.section-heading { font-size: 36px; font-weight: 700; margin-top: 60px; }

.caption { font-size: 14px; font-style: italic; display: block; margin: 0; padding: 10px; text-align: center; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; }

::-moz-selection { color: #fff; background: #007bff; text-shadow: none; }

::selection { color: #fff; background: #007bff; text-shadow: none; }

img::selection { color: #fff; background: transparent; }

img::-moz-selection { color: #fff; background: transparent; }

#mainNav { position: absolute; border-bottom: 1px solid #e9ecef; background-color: white; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

#mainNav .navbar-brand { font-weight: 800; color: #343a40; }

#mainNav .navbar-toggler { font-size: 12px; font-weight: 800; padding: 13px; text-transform: uppercase; color: #343a40; }

#mainNav .navbar-nav > li.nav-item > a { font-size: 12px; font-weight: 800; letter-spacing: 1px; text-transform: uppercase; }

@media only screen and (min-width: 992px) { #mainNav { border-bottom: 1px solid transparent; background: transparent; }
  #mainNav .navbar-brand { padding: 10px 20px; color: #fff; }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover { color: rgba(255, 255, 255, 0.8); }
  #mainNav .navbar-nav > li.nav-item > a { padding: 10px 20px; color: #fff; }
  #mainNav .navbar-nav > li.nav-item > a:focus, #mainNav .navbar-nav > li.nav-item > a:hover { color: rgba(255, 255, 255, 0.8); } }

@media only screen and (min-width: 992px) { #mainNav { -webkit-transition: background-color 0.2s; -moz-transition: background-color 0.2s; transition: background-color 0.2s; /* Force Hardware Acceleration in WebKit */ -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); -webkit-backface-visibility: hidden; }
  #mainNav.is-fixed { /* when the user scrolls down, we hide the header right above the viewport */ position: fixed; top: -67px; -webkit-transition: -webkit-transform 0.2s; -moz-transition: -moz-transform 0.2s; transition: transform 0.2s; border-bottom: 1px solid white; background-color: rgba(255, 255, 255, 0.9); }
  #mainNav.is-fixed .navbar-brand { color: #1e1e1e; }
  #mainNav.is-fixed .navbar-brand:focus, #mainNav.is-fixed .navbar-brand:hover { color: #007bff; }
  #mainNav.is-fixed .navbar-nav > li.nav-item > a { color: #1e1e1e; }
  #mainNav.is-fixed .navbar-nav > li.nav-item > a:focus, #mainNav.is-fixed .navbar-nav > li.nav-item > a:hover { color: #007bff; }
  #mainNav.is-visible { /* if the user changes the scrolling direction, we show the header */ -webkit-transform: translate3d(0, 100%, 0); -moz-transform: translate3d(0, 100%, 0); -ms-transform: translate3d(0, 100%, 0); -o-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); } }

header.masthead { margin-bottom: 30px; background: no-repeat center center; background-color: #1e1e1e; background-attachment: scroll; position: relative; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }

header.masthead .overlay { position: absolute; top: 0; left: 0; height: 100%; width: 100%; background-color: #1e1e1e; opacity: 0.5; }

header.masthead .page-heading, header.masthead .post-heading, header.masthead .site-heading { padding: 100px 0 60px; padding-bottom: 50px; color: white; text-align: left; }

@media only screen and (min-width: 768px) { header.masthead .page-heading, header.masthead .post-heading, header.masthead .site-heading { padding: 100px 0; padding-bottom: 50px; } }

header.masthead .page-heading, header.masthead .site-heading { text-align: left; padding-left: 60px; }

header.masthead .page-heading h1, header.masthead .site-heading h1 { font-size: 50px; margin-top: 0; }

header.masthead .page-heading .subheading, header.masthead .site-heading .subheading { font-size: 24px; font-weight: 300; line-height: 1.1; display: block; margin: 10px 0 0; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

@media only screen and (min-width: 768px) { header.masthead .page-heading h1, header.masthead .site-heading h1 { font-size: 80px; } }

header.masthead .post-heading h1 { font-size: 35px; }

header.masthead .post-heading .meta, header.masthead .post-heading .subheading { line-height: 1.1; display: block; }

header.masthead .post-heading .subheading { font-size: 24px; font-weight: 600; margin: 10px 0 30px; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

header.masthead .post-heading .meta { font-size: 20px; font-weight: 300; font-style: italic; font-family: 'Lora', 'Times New Roman', serif; }

header.masthead .post-heading .meta a { color: #fff; }

@media only screen and (min-width: 768px) { header.masthead .post-heading h1 { font-size: 55px; }
  header.masthead .post-heading .subheading { font-size: 30px; } }

@media (min-width: 0px) { .header-image { display: none; }
  .post-header-image { display: none; } }

@media (min-width: 576px) { .header-image { display: none; }
  .post-header-image { display: none; } }

@media (min-width: 768px) { .header-image { display: none; }
  .post-header-image { display: none; } }

@media (min-width: 992px) { .header-image { width: 100px; height: 100px; display: block; }
  .post-header-image { padding: 100px 0 60px; max-width: 100%; max-height: 100%; display: block; /* remove extra space below image */ } }

@media (min-width: 1200px) { .header-image { width: 140px; height: 140px; }
  .post-header-image { padding: 80px 0 60px; display: block; /* remove extra space below image */ } }

.post-preview > a { color: #1e1e1e; }

.post-preview > a:focus, .post-preview > a:hover { text-decoration: none; color: #007bff; }

.post-preview > a > .post-title { font-size: 30px; margin-top: 30px; margin-bottom: 10px; }

.post-preview > a > .post-subtitle { font-weight: 300; margin: 0 0 10px; }

.post-preview > .post-meta { font-size: 18px; font-style: italic; margin-top: 0; color: #1e1e1e; }

.post-preview > .post-meta > a { text-decoration: none; color: #1e1e1e; }

.post-preview > .post-meta > a:focus, .post-preview > .post-meta > a:hover { text-decoration: underline; color: #007bff; }

@media only screen and (min-width: 768px) { .post-preview > a > .post-title { font-size: 36px; } }

.post-preview { background-color: #333333; padding: 10px; border-radius: 20px; }

.post-preview > .post-title { font-size: 24px; margin-top: 5px; margin-bottom: 5px; }

.post-preview > .post-title > a { color: #dcdcaa; text-decoration: none; }

.post-preview > .post-title > a:focus, .post-preview > .post-title > a:hover { text-decoration: none; color: #3399ff; }

.post-preview > .post-subtitle { font-size: 18px; }

.post-preview > .post-buffer { padding-bottom: 10px; }

.post-preview .post-read-more { font-size: 16px; }

.post-preview .post-read-more > a { color: #fff; text-decoration: underline; }

.post-preview .post-read-more > a:focus, .post-preview .post-read-more > a:hover { color: #3399ff; }

.post-preview > .post-meta { font-size: 16px; margin-bottom: 0; color: #777777; }

.post-category { padding-top: 10px; }

.post-category > .category-btn { border-radius: 5px; text-transform: unset !important; background-color: #4ec9b0; border-color: #4ec9b0; }

.post-category > .btn-home { margin-right: 20px; }

.post-header-category { padding-top: 10px; padding-bottom: 15px; }

.post-header-category > .category-btn { border-radius: 5px; text-transform: unset !important; background-color: #4ec9b0; border-color: #4ec9b0; }

.post-header-category > .btn-home { margin-right: 20px; }

.post-with-toc { font-size: 16px; }

.toc-block { background-color: #333333; padding: 5px; border-radius: 20px; font-size: 16px; }

.toc-block h3 { text-align: center; }

.toc-block ul { padding-left: 20px; }

.post-block { background-color: #333333; padding: 10px; border-radius: 20px; }

.post-block hr { background-color: #fff; height: 1px; border: none; width: 100px; margin: 40px auto; }

.post-block h1:before { background-color: #fff; padding: 0 3px; content: " "; position: relative; left: -10px; }

.post-block h2:before { background-color: #fff; padding: 0 2px; content: " "; position: relative; left: -10px; }

.post-block h3:before { background-color: #fff; padding: 0 1px; content: " "; position: relative; left: -10px; }

.post-block * img { max-width: 100%; height: auto; margin-left: auto !important; margin-right: auto !important; display: block !important; }

.post-block table { width: 100%; border-collapse: collapse; border-width: 1px; border-color: #717171; border-style: solid; }

.post-block th { border-width: 1px; border-color: #717171; border-style: solid; padding-left: 5px; padding-right: 5px; }

.post-block td { border-width: 1px; border-color: #717171; border-style: solid; padding-left: 5px; padding-right: 5px; }

.sticky-top { top: 80px; }

.post-buffer-small { height: 10px; }

.horizontal-rule { background-color: #fff; height: 1px; border: none; }

.floating-label-form-group { font-size: 14px; position: relative; margin-bottom: 0; padding-bottom: 0.5em; border-bottom: 1px solid #dee2e6; }

.floating-label-form-group input, .floating-label-form-group textarea { font-size: 1.5em; position: relative; z-index: 1; padding: 0; resize: none; border: none; border-radius: 0; background: none; box-shadow: none !important; font-family: 'Lora', 'Times New Roman', serif; }

.floating-label-form-group input::-webkit-input-placeholder, .floating-label-form-group textarea::-webkit-input-placeholder { color: #1e1e1e; font-family: 'Lora', 'Times New Roman', serif; }

.floating-label-form-group label { font-size: 0.85em; line-height: 1.764705882em; position: relative; z-index: 0; top: 2em; display: block; margin: 0; -webkit-transition: top 0.3s ease, opacity 0.3s ease; -moz-transition: top 0.3s ease, opacity 0.3s ease; -ms-transition: top 0.3s ease, opacity 0.3s ease; transition: top 0.3s ease, opacity 0.3s ease; opacity: 0; }

.floating-label-form-group .help-block { margin: 15px 0; }

.floating-label-form-group-with-value label { top: 0; opacity: 1; }

.floating-label-form-group-with-focus label { color: #007bff; }

form .form-group:first-child .floating-label-form-group { border-top: 1px solid #dee2e6; }

footer { padding: 50px 0 65px; }

footer .list-inline { margin: 0; padding: 0; }

footer .copyright { font-size: 14px; margin-bottom: 0; text-align: center; }

.text-footer { color: #fff; }

.text-feeds { color: #fff; }

.footer-icon { color: #000; }

.btn { font-size: 14px; font-weight: 800; padding: 15px 25px; letter-spacing: 1px; text-transform: uppercase; border-radius: 0; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

.btn-primary { background-color: #007bff; border-color: #007bff; }

.btn-primary:hover, .btn-primary:focus, .btn-primary:active { color: #fff; background-color: #0069d9 !important; border-color: #0069d9 !important; }

.btn-lg { font-size: 16px; padding: 25px 35px; }

body { background-color: #1e1e1e; color: #fff; }

header.masthead { background-color: #1e1e1e; background-repeat: no-repeat; background-origin: padding-box; background-size: cover; background-attachment: scroll; background-position: center center; }

header.masthead .subheading { line-height: 1.6 !important; }

header.masthead *, header.masthead .post-heading * { text-shadow: 0 0 80px rgba(0, 0, 0, 0.8); }

footer { padding: 20px 0; line-height: 1em; }

hr.background--light { border-color: #000 !important; }

.btn.background--light { color: initial !important; }

.btn { margin-bottom: 6px; }

.btn-sm { font-size: 12px; padding: 5px 10px; }

.btn-xs { font-size: 12px; padding: 1px 5px; }

.right-border { border-right: 1px solid #eeeeee; }

p { margin: 0 0 1rem 0; }

.sidebar li { margin-bottom: 8px; }

.post-title { margin-bottom: 0; word-break: break-word; }

.post-subtitle { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; font-size: 1.5rem; }

.post-list > a { color: #333333; }

.post-list > a:hover, .post-list > a:focus { text-decoration: none; color: #337ab7; }

.post-list > a > .post-title { margin-top: 10px; margin-bottom: 6px; }

.post-list > a > .post-subtitle { margin: 0; font-weight: 300; margin-bottom: 6px; }

.post-list > .post-meta { color: #777777; font-size: 16px; font-style: italic; margin-top: 0; }

.post-list > .post-meta > a { text-decoration: none; color: #333333; }

.post-list > .post-meta > a:hover, .post-list > .post-meta > a:focus { color: #337ab7; text-decoration: underline; }

.post-heading { word-break: break-word; }

.post-heading .subheading { margin-bottom: 0; }

.post-heading .meta { margin-top: 30px; }

.post-heading .tags { margin-top: 30px; }

.post-heading .tags .btn { border-color: #222222; }

.post-heading .post-meta { color: #777777; }

.panel .table pre { margin: 0px; border: none; border-top-left-radius: 0px; border-top-right-radius: 0px; }

.badge { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

/* Awsome same-height Bootstrap columns from http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-columns-of-same-height */
/* vertical alignment styles */
.col-top { vertical-align: top; }

.col-middle { vertical-align: middle; }

.col-bottom { vertical-align: bottom; }

/* columns of same height styles */
.container-xs-height { display: table; padding-left: 0px; padding-right: 0px; }

.row-xs-height { display: table-row; }

.col-xs-height { display: table-cell; float: none; }

@media (min-width: 768px) { .container-sm-height { display: table; padding-left: 0px; padding-right: 0px; }
  .row-sm-height { display: table-row; }
  .col-sm-height { display: table-cell; float: none; } }

@media (min-width: 992px) { .container-md-height { display: table; padding-left: 0px; padding-right: 0px; }
  .row-md-height { display: table-row; }
  .col-md-height { display: table-cell; float: none; } }

@media (min-width: 1200px) { .container-lg-height { display: table; padding-left: 0px; padding-right: 0px; }
  .row-lg-height { display: table-row; }
  .col-lg-height { display: table-cell; float: none; } }

.btn-default { border-radius: 5px; text-transform: unset !important; background-color: #569cd6; border-color: #569cd6; }

.on-internet { color: #fff; }

.daily-drop { border: solid; border-width: 2px; border-color: #fff; color: #fff; padding: 10px; }

.drop-header { font-weight: bold; font-size: 20px; padding-top: 10px; }

.info-block { border: solid; border-width: 2px; border-color: #fff; color: #fff; padding: 10px; }
